@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-container{
	font-family: 'poppins';
	border: 1px solid black;
	margin: 0px 100px 10px 100px;
	background-color: #EEEEEE;
}

.head h1{
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
}

.head h5{
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

.head{
	background-color: #AAD9BB;
}

ul{
	list-style-type: none;
	margin:auto;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li.nav1{
	float: left;
}

li.nav2{
	float: right;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.h3{
	text-align: center;
}


.details{
	border: 2px solid black;
	padding-left: 5px;
	padding-right: 5px;
	margin: 5px;
}

.user-details{
	display: flex;
}

.user-details-content{
	border: 1px solid black;
	margin: 5px;
	width:100%;
	padding-left:5px;
	padding-bottom: 5px;
}

.button-green{
	background-color: #9ADE7B;
	border: none;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 2px;
}

footer, footer small{
	text-align: center;
}

.title{
	background-color: antiquewhite;
	padding: 10px;
}

#add-employee-form{
	background-color: antiquewhite;
	width: 100%;
}

input{
	width: 50%;
	padding: 5px;
}

.form-detail{
	margin: 10px;

}

.add-employee-button{
	text-decoration: none;
	display: inline-block;
	background-color: #0ed58f;
	color:black;
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
}


.button-one{
	display: inline-block;
	background-color: #a1f1a4;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.button-one:hover {
	background-color: #71b075;
}

.employee-buttons{
	padding: 10px 0px;
}