@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-container{
	font-family: 'poppins';
	border: 1px solid black;
	margin: 0px 100px 0px 100px;
	background-color: #EEEEEE;

}

.head h1{
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
}

.head h5{
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

.head{
	background-color: #AAD9BB;
}

ul{
	list-style-type: none;
	margin:auto;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li.nav1{
	float: left;
}

li.nav2{
	float: right;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.h3{
	text-align: center;
}

footer, footer small{
	text-align: center;
}

.main{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    background-color: rgb(129, 228, 144);
    padding: 33px;
}

.main img{
    /*width: 400px;*/
    height: 600px;
}

.mainText{
    margin-top: 44px;
    color: white;
}
.mainText h1{
    font-size: 66px;
}

.mainText p{
    margin-top: 22px;
}

.mainText button{
    margin-top: 22px;
    width: 140px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 0px;
    background-color: black;
    color: white;
}

.footer p{
    margin: 22px;
}


.c1 {
    width: 900px;
}

body {
    background: url("image.jpg");
}

.forms {
    margin-top: 30px;
}

.contact-details{
    padding: 20px;
}