
.planContainer {
    display: flex; 
    justify-content:center; 
    flex-wrap: wrap; 
}

.plan1 {
    width: calc(40% - 40px); 
    margin-bottom: 40px; 
    margin-right: 40px;
    background-color: #c1c1c1; 
    padding: 100px; 
    box-sizing: border-box; 
    transition: transform 0.3s;
}

.plan2 {
    width: calc(40% - 40px); 
    margin-bottom: 40px; 
    background-color: #c1c1c1; 
    padding: 100px; 
    box-sizing: border-box; 
    transition: transform 0.3s;
}

.plan3 {
    width: calc(40% - 40px); 
    margin-bottom: 40px; 
    margin-right: 40px;
    background-color: #c1c1c1; 
    padding: 100px; 
    box-sizing: border-box; 
    transition: transform 0.3s;
}

.plan4 {
    width: calc(40% - 40px); 
    margin-bottom: 40px; 
    background-color: #c1c1c1; 
    padding: 100px; 
    box-sizing: border-box; 
    transition: transform 0.3s;
}

.plan5 {
    width: calc(40% - 40px); 
    margin-bottom: 40px; 
    background-color: #c1c1c1; 
    padding: 100px; 
    box-sizing: border-box; 
    transition: transform 0.3s;
}

.plan1:hover{
    background-color: #73f7ba;  
    transform: scale(105%);
}
.plan2:hover{
    background-color: #73f7ba;  
    transform: scale(105%);
}
.plan3:hover{
     background-color: #73f7ba;  
     transform: scale(105%); 
}
.plan4:hover{
     background-color: #73f7ba;  
     transform: scale(105%); 
}
.plan5:hover{
     background-color: #73f7ba;   
     transform: scale(105%);
}

body{
    background: url('../images/Health-insurance.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

#heading{
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.description{
    background: url('../images/r1.jpeg');
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    width: 100%; 
    margin-bottom: 40px; 
    background-color: #f0f0f0; 
    padding: 10px; 
    box-sizing: border-box; 
    
}